@page "/"
@using BlazorToolkit.Essentials

<PageTitle>Theme</PageTitle>

<div>CurrentTheme</div>
<div>@(SystemTheme.ToString())</div>

@code{
    private AppTheme SystemTheme;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            SystemTheme = await Theme.Default.GetSystemThemeAsync();
            Theme.Default.SystemThemeChanged += ThemeChanged;
            await InvokeAsync(StateHasChanged);
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    public void ThemeChanged(AppTheme value)
    {
        SystemTheme = value;
        StateHasChanged();
    }
}